@import url("Components/Starred/Header/header.css");
@import url("Components/Starred/Container/todo.css");
@import url("Components/Starred/Container/todo_container.css");

@font-face {
    font-family: 'Poppins';
    src: url("assets/Poppins.ttf") format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Poppins';
    user-select: none;
    overflow-x: hidden;
}

