.change-theme-modal-bg{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 250;
}

.change-theme-modal{
    position: absolute;
    display: flex;
    width: 70%;
    height: 60%;
    z-index: 255;
    backdrop-filter: blur(5px);
    border: .5px solid white;
    border-radius: 20px;
    transition: 500ms;
}

.close-change-theme{
    position: absolute;
    cursor: pointer;
    color: white;
    z-index: 260;
    font-size: 1.5rem;
    top: 20px;
    right: 20px;
    transition: 200ms;
}

.close-change-theme:hover{
    color: dodgerblue;
}

.change-theme-modal h2{
    display: inline;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
    margin-top: 10px;
}

.change-theme-modal i{
    color: #bb377d;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
}

.colors-group{
    position: absolute;
    width: 95%;
    height: 40%;
    margin-left: 2.5%;
    margin-top: 45px;
    overflow-x: scroll;
    flex-wrap: wrap;
}

.colors-group::-webkit-scrollbar{
    background-color: transparent;
}

.colors-group::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.colors-group h2{
    display: block;
}

.width-height{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 200ms;
}

.blue{
    background-color: #34568b;
    margin-left: 20px;
    z-index: 300;
}

.hover:hover{
    transform: scale(1.2);
}

.hover:active{
    border: 2px solid #fd4;
}

.coral{
    background-color: #FF6F61;
    margin-left: 100px;
}

.violet{
    background-color: #6B5B95;
    margin-left: 180px;
}

.greenery{
    background-color: #88B04B;
    margin-left: 260px;
}

.rose-quartz{
    background-color: #F7CAC9;
    margin-left: 340px;
}

.yellow{
    background-color: #fd4;
    margin-left: 420px;
}

.serenity{
    background-color: #92A8D1;
    margin-left: 500px;
}

.dark{
    background-color: #808080;
    margin-left: 580px;
}

.bg-group{
    position: absolute;
    width: 95%;
    height: 40%;
    margin-left: 2.5%;
    margin-top: 205px;
    overflow-x: scroll;
    border: 1px solid white;
}

.bg-group::-webkit-scrollbar{
    background-color: transparent;
}

.bg-group::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.m-top{
    margin-top: 205px;
}

.beach{
    margin-left: 20px;
    background-image: url("Backgrounds/beach.jpg");
    background-size: cover;
}

.tide{
    margin-left: 100px;
    background-image: url("Backgrounds/tide.jpg");
    background-size: cover;
}

.lighthouse{
    margin-left: 180px;
    background-image: url("Backgrounds/lighthouse.jpg");
    background-size: cover;
}

.forest{
    margin-left: 260px;
    background-image: url("Backgrounds/forest.jpg");
    background-size: cover;
}

.man{
    margin-left: 340px;
    background-image: url("Backgrounds/man.jpg");
    background-size: cover;
}

.red-bg-hill{
    margin-left: 420px;
    background-image: url("Backgrounds/red-bg-hill.jpg");
    background-size: cover;
}

.castle{
    margin-left: 500px;
    background-image: url("Backgrounds/castle.jpg");
    background-size: cover;
}

.texture-bg{
    margin-left: 580px;
    background-image: url("Backgrounds/texture-bg.jpg");
    background-size: cover;
}